<h1 class="user-welcome">Here go the detail of specific user</h1>

<%= render 'shared/user', user: @user %>
<%= render 'shared/header'%>
    <div class="bio">
        <p> Bio: <%= @user.bio%> </P>      
    </div>  

  <% @user.recent_posts.each do |post| %>
    <%= render 'shared/post', post: post %>
  <% end %>
  <div class="see-posts">
  <%= link_to user_posts_path(@user) do %>
    <button class="see-posts-btn">See all posts</button>
  <% end %>
</div>
   